<head>
    <title>Personal Finance App</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<div class="container">
    <h1>Dashboard</h1>

    <p>Welcome {{ user.username }}, to your finance dashboard!</p>
</div>

<div class="section">
    <a href="/add_transaction">
        Add Transaction
    </a>
</div>

<br><br>

{% for transaction in transactions %}
    <div class="transaction">
        <div class="transaction_header">
            <span class="transaction_type
                {% if transaction.transaction_type == 'Income' %}
                    income
                {% else %}
                    expense
                {% endif %}
            ">
                {{ transaction.transaction_type }}
            </span>

            <a href="/edit_transaction/{{ transaction.id }}">
                Edit
            </a>

            <a class="delete_button"
                href="/delete_transaction/{{ transaction.id }}">
                ✕
            </a>
        </div>

        <div class="transaction_details">
            <span class="amount_badge">
                ${{ transaction.amount }}
            </span>

            <span class="category_badge">
                {{ transaction.category }}
            </span>
        </div>

        <p class="description">
            {{ transaction.description }}
        </p>
    </div>
{% endfor %}

<div class="stats">
    <div class="card">
        <h3>Balance</h3>
        <p>{{ balance }}</p>
    </div>

    <div class="card">
        <h3>Income</h3>
        <p>{{ income_total }}</p>
    </div>

    <div class="card">
        <h3>Expenses</h3>
        <p>{{ expense_total }}</p>
    </div>

    <div class="card">
        <h3>Transaction</h3>
        <p>{{ transaction_count }}</p>
    </div>
</div>

<br><br>

<div class="section">
    <a href="/logout">
        Logout
    </a>
</div>