<h1>Dashboard</h1>

<p>Welcome {{ user.username }}, to your finance dashboard!</p>

<a href="/add_transaction">
    Add Transaction
</a>

<br><br>

{% for transaction in transactions %}

    <p>
        {{ transaction.transaction_type }}
        -
        ${{ transaction.amount }}
        -
        {{ transaction.category }}
        -
        {{ transaction.description }}
    </p>

{% endfor %}

<h2>Balance: ${{ balance }}</h2>
<h3>Income Total: ${{ income_total }}</h2>
<h3>Expense Total: ${{ expense_total }}</h2>
<h3>Total Transactions: {{ transaction_count }}</h3>

<br><br>

<a href="/logout">
    Logout
</a>