<head>
    <title>Personal Finance App</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<div class="container">
    <h1>Dashboard</h1>

    <p>Welcome {{ user.username }}, to your finance dashboard!</p>
</div>

<div class="section">
    <a href="/add_transaction" class="primary_action">
        + Add Transaction
    </a>
</div>

<br><br>

<form method="GET" class="filter_bar">
    <input
        type="text"
        name="search"
        value="{{ search_term }}"
        placeholder="Search descriptions..."
        class="search_input"
    >

    <div class="filter_chips">
        <input
            type="radio"
            id="all"
            name="filter_option"
            value="All"
            {% if filter_option == "All" %}
                checked
            {% endif %}
        >
        <label for="all">All</label>

        <input
            type="radio"
            id="income"
            name="filter_option"
            value="Income"
            {% if filter_option == "Income" %}
                checked
            {% endif %}
        >
        <label for="income">Income</label>

        <input
            type="radio"
            id="expenses"
            name="filter_option"
            value="Expenses"
            {% if filter_option == "Expenses" %}
                checked
            {% endif %}
        >
        <label for="expenses">Expenses</label>
    </div>

    <select name="date_search">
        <option
            value="Any"
            {% if date_search == "Any" %}
                selected
            {% endif %}
        >
            Any
        </option>
        <option
            value="Today"
            {% if date_search == "Today" %}
                selected
            {% endif %}
        >
            Today
        </option>
        <option
            value="This month"
            {% if date_search == "This month" %}
                selected
            {% endif %}
        >
            This month
        </option>
        <option
            value="This year"
            {% if date_search == "This year" %}
                selected
            {% endif %}
        >
            This year
        </option>
    </select>

    <button type="submit">
        Search
    </button>

    <a href="{{ url_for('dashboard') }}" class="clear_button">
        Clear
    </a>
</form>

<form method="GET" class="sort_bar">

    <select name="sort_by">
        <option value="" selected disabled>
                    Sort By
                </option>
        <option
            value="Newest"
            {% if sort_by == "Newest" %}
                selected
            {% endif %}
        >
            Newest
        </option>
        <option
            value="Oldest"
            {% if sort_by == "Oldest" %}
                selected
            {% endif %}
        >
            Oldest
        </option>
        <option
            value="Highest Amount"
            {% if sort_by == "Highest Amount" %}
                selected
            {% endif %}
        >
            Highest Amount
        </option>
        <option
            value="Lowest Amount"
            {% if sort_by == "Lowest Amount" %}
                selected
            {% endif %}
        >
            Lowest Amount
        </option>
    </select>

    <button type="submit">
        Apply
    </button>

</form>

{% if transactions %}
    {% for transaction in transactions %}
        <div class="transaction">
            <div class="transaction_header">
                <span class="transaction_type
                    {% if transaction.transaction_type == 'Income' %}
                        income
                    {% else %}
                        expense
                    {% endif %}
                ">
                    {{ transaction.transaction_type }}
                </span>

                <div class="transaction_actions">
                    <a 
                        href="/edit_transaction/{{ transaction.id }}"
                        class="edit_button"
                    >
                        Edit
                    </a>

                    <a 
                        class="delete_button"
                        href="/delete_transaction/{{ transaction.id }}"    
                    >
                        ✕
                    </a>
                </div>
            </div>

            <div class="transaction_details">
                <span class="amount_badge">
                    ${{ transaction.amount }}
                </span>

                <div class="divider"></div>

                <span class="category_badge">
                    {{ transaction.category }}
                </span>
            </div>

            <p class="description">
                {{ transaction.description }}
            </p>
            
            <div class="transaction_meta">
                <span class="transaction_date">
                    {{ transaction.transaction_date.strftime('%b %d %Y') }}
                </span>
            </div>
        </div>
    {% endfor %}
{% elif search_term or filter_option or date_search != "All" %}
        <p>No matching transactions</p>
{% else %}
        <p>No transactions yet, add your first transaction!</p>
{% endif %}

<div class="stats">
    <div class="card">
        <h3>Balance</h3>
        <p>${{ "%.2f"|format(balance) }}</p>
    </div>

    <div class="card">
        <h3>Income</h3>
        <p>${{ "%.2f"|format(income_total) }}</p>
    </div>

    <div class="card">
        <h3>Expenses</h3>
        <p>${{ "%.2f"|format(expense_total) }}</p>
    </div>

    <div class="card">
        <h3>Transaction</h3>
        <p>{{ transaction_count }}</p>
    </div>
</div>

<div>
    {% for category, total in sorted_categories %}
        <p>{{ category }}: ${{ "%.2f"|format(total) }}</p>
    {% endfor %}
</div>

<br><br>

<h3>Spending Breakdown</h3>

<ul>
    {% for category, percent in category_percents.items() %}
        <li>{{ category }}: {{ percent }}</li>
    {% endfor %}
</ul>

<br><br>

<li>{{ expense_category_list }}</li>
<li>{{ expense_amount_list }}</li>

<div class="spending_breakdown">
    <canvas id="expense_chart"
            data-labels = "{{ expense_category_list | tojson }}"
            data-values = "{{ expense_amount_list | tojson }}">
    </canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const canvasChart = document.getElementById("expense_chart");
    const labels = JSON.parse(canvasChart.dataset.labels)
    const values = JSON.parse(canvasChart.dataset.values)

    console.log(labels);
    console.log(values);
    console.log(canvasChart);
</script>

<div class="section">
    <a href="/logout">
        Logout
    </a>
</div>