<head>
    <title>Personal Finance App</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<div class="container">
    <h1>Create Account</h1>
</div>

<div class="section">
    <form method="POST">
        <input type="text" name="username" placeholder="Username">

        <br><br>

        <input type="password" name="password" placeholder="Password">
        <br><br>

        <button type="submit">Create Account</button>
    </form>
</div>